body {
  font-family: "Mukta Malar", sans-serif;
}
.card-body {
  display: block;
  background: rgb(168, 216, 234);
  border-radius: 6px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 4px 3px 5px rgb(224, 221, 221);
}

h0 {
  display: block;
  font-size: 65px;
  margin: 0 auto;
  color: rgb(255, 255, 210);
  padding: 15px;
}
#searchingBox {
  display: block;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 4px 3px 5px rgb(224, 221, 221);
}
.pics {
  width: 40px;
  display: block;
  margin: 0 auto;
}
.forecastDay,
.forecastTemp {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: rgb(170, 150, 218);
}
#actualPicTemp,
#actualConditions {
  display: block;
  margin: 0 auto;
  color: rgb(252, 186, 211);
  font-weight: bold;
}
#currentDayTime {
  font-size: larger;
  text-decoration: underline;
}
#mainPic {
  width: 150px;
}
p0 {
  margin: 0 auto;
  font-size: 55px;
  padding: 10px 20px;
  position: relative;
  top: 20px;
  left: 17px;
}
.units {
  position: relative;
  top: -13px;
}
#celsius-link,
#fahreinheit-link {
  color: rgb(252, 186, 211);
  text-decoration: none;
}
(#celsius-link,
#fahreinheit-link) :hover {
  text-decoration: underline;
}
#actualCity {
  color: rgb(170, 150, 218);
  font-size: 65px;
  font-weight: 700;
}
p1 {
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
ul {
  list-style: none;
}
#actualCity,
#actualConditions {
  position: relative;
  top: 34px;
}
#searchingButton,
#searchingCurrentLocation {
  border-radius: 2px;
  box-shadow: 2px 3px 5px rgb(224, 221, 221);
  border-width: 1px;
  color: #ffffd2;
  background-color: rgb(170, 150, 218);
  border-radius: 1px solid rgb(170, 150, 218);
}
#cityInput {
  border-radius: 2px;
  box-shadow: 2px 3px 5px rgb(224, 221, 221);
  border-width: 1px;
  border-radius: 1px solid rgb(170, 150, 218);
  background-color: #ffffd2;
}
#searchingButton:hover {
  cursor: pointer;
  color: rgb(170, 150, 218);
  background-color: #ffffd2;
}
#searchingCurrentLocation:hover {
  cursor: pointer;
  color: rgb(170, 150, 218);
  background-color: #ffffd2;
}
